@import url('base.css');
@import url('layout.css');
@import url('skeleton.css');

body {
	color: #111;
	background: white;
}
a {
	/*color: white;*/
}

.header-container{
	background-color: #2a4e2f;
}

.main-header{
	padding: 10px 0 8px;
}

/* Quick access links */
.quick-access .links li {
	display: inline;
	margin: 0 1px;
}
.quick-access .links li a {
	color: white;
	text-decoration: none;
}

.quick-access .links li a:hover {
	text-decoration: underline;
}

/* Search bar */
.quick-access .form-search label {
	display: none;
}
.quick-access .form-search input.input-text {
	display: inline;
}

/* Welcome */
.welcome-msg {
	color: white;
}

/* Main Navigation */
nav.nav-container {
	background: #666666;
	padding: 10px 0;
}

nav.nav-container a {
	color: white;
	text-decoration: none;
	font-size: 1em;
}

nav #nav li {
	display: inline;
	margin-right: 15px;
}

nav #nav ul {
	display: none;
}

/* Footer */
.footer-container{
	background: #987275;
	padding: 40px 0;
}

footer {
	color: white; 
}
footer a {
	color: white;
}

.col-right{
	background: white;
}